<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.paritosh.gameofpong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity
            android:name=".Game1Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CreditaActivity"
            android:screenOrientation="sensorLandscape"></activity>
    </application>

</manifest>